@font-face {
  font-family: Linux Libertine;
  src: url('linux-libertine/LinLibertine_R.otf') format('opentype');
}

div.fill-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

img.make-it-fit {
  max-width: 99%;
  max-height: 99%;
}

p {
  font-family: 'Linux Libertine';
  /*font-variant: small-caps;*/
  font-size: 1em;
}
