@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_R.otf') format('opentype');
}
@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RI.otf') format('opentype');
  font-style: italic;
}
@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RB.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RBI.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

div.fill-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

img.make-it-fit {
  max-width: 100%;
  max-height: 100%;
}

p {
  font-family: 'Linux Libertine';
  font-size: 1em;
}
