@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_R.otf') format('opentype');
}
@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RI.otf') format('opentype');
  font-style: italic;
}
@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RB.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RBI.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

div.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.75);
  color: #FFFFFF;
}

div.content {
  position: relative;
  top: 5em;
  width: auto;
}

p.one {
  font-family: 'Linux Libertine';
  font-size: 1.3em;
  line-height: 175%;
  text-align: justify;
  margin-left: 10%;
  margin-right: 20%;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
p.one em {
  font-variant-caps: small-caps;
  font-style: normal;
}
